apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-zncpeytw
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-zncpeytw:3aba211b094481ed4f2b3af7dd964c9dab858477@sha256:d676c9432db130b3139b4b042e583a3bc12cb483b3c82a9cd1af4b8566c3836e
        name: container-image  
